<!DOCTYPE html>
<html>
<head>
    <title>item Canteen</title>
    <style>
        
        img {width: 100px; height:100px }
        .item { border: 1px solid #ccc; padding: 10px; margin: 10px; display: inline-block; }
    </style>
</head>
<body bgcolor="skyblue">
    
    <h1>mother Thersa College</h1>
    <h1>Canteen</h1>
    <marquee>Availabel items</marquee>
    <ul>
        <li>Idly,samber</li>
        <li>Gobi rice</li>
        <li>Chicken rice etc.............</li>
    </ul>
    {% for item in items %}
        <div class="item">
            {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
            {% endif %}
            <h2><a href="{% url 'item_detail' item.pk %}">{{ item.name }}</a></h2>
            <p>${{ item.price }}</p>
        </div>
    {% endfor %}
</body>
</html>