{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <style>
        @media print {
        .no-print{
            display: none;
            background-color: red;
            align-items: center;
            position: center;
        }
    }

    </style>
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    {% if product.image %}
     <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% endif %}
    <p>{{ product.description }}</p>
    <p>Price: Rs{{ product.price }}</p>
    
    <button><a href="/">Back to Products</a></button>
    <button><a href="{% url 'add_to_cart' product.pk %}">Add to Cart</a></button>

    <button onclick="window.print()" class="no-print">Print this page</button>
</body>
</html>
{% endblock %}